textarea {
    min-height: 400px;
}

.emails{
    border:1px solid black;
    margin-bottom: 5px;
    align-items: center;
    color: black;

}
.btn-secondary{
    color:white
}
.btn-light{
    color:black
}
.info{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
}