textarea {
    min-height: 400px;
}

.email{
    border:1px solid black;
    margin-bottom: 5px;
    align-items: center;

}
.btn-secondary{
    color:white
}
.btn-light{
    color:black
}
.info{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
}

.row.title {
    display: flex;
    color: white;
    font-weight: bold;
    width: 100%;
    background-color: #6c757d;
    border-radius: 0.2rem;
    margin-bottom: 10px;
    padding: 5px;
    
}